body {
    background-size: 120% auto;
    background-repeat: no-repeat;
    background-image: url("./excess/12345.jpg");
}
@font-face {
    font-family: "Minecraft"; /* 定义字体名 */
    src: url("./excess/Minecraft UTF-8.ttf"); /* 引入本体字体文件 */
}
#login-box {
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-top: 15%;
    border-radius: 10px;
    text-align: center;
    background: #00000080;
    padding: 50px 80px 30px 80px;
}

#login-box h1 {
    color: aliceblue;
    font-family: 'Minecraft';
    font-size: 40px;
    margin-bottom: 35px;
}

/*#login-box .form .item {*/
/*    margin-top: 15px;*/
/*    font-size: 18px;*/
/*    color: white;*/
/*}*/

#login-box .form  input {
    color: white !important;
    width: 80px;
    min-width: 100px;
    max-width: 50%;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    background: transparent;
    margin-top:10px;
    margin-bottom:5px;
}

#login-box .form input[placeholder] {
    color: black;
}


#login-box button {
    border: 0;
    margin-top: 40px;
    width: 160px;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: rgb(38, 130, 221);
    /*background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);*/
    border-radius: 10px;
}

#message-box {
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}